[Unit]
Description=Run Teleport Route Checker every 30 seconds
Requires=teleport-route-checker.service

[Timer]
OnBootSec=30sec
OnUnitActiveSec=30sec
AccuracySec=1sec

[Install]
WantedBy=timers.target